@import "../utils/_variables.scss";

.added {
  opacity: 0;
  transition: 0.3s ease all;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 99;
  &.active {
    background: rgba(0, 0, 0, 0.6);
    pointer-events: initial;
    padding: 1rem;
    opacity: 1;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #cccccc;
  }
  &__details,
  &__actions,
  &__description {
    padding: 0 2rem;
  }
  &__close-action {
    cursor: pointer;
    svg {
      font-size: 22px;
    }
  }
  &__information {
    max-width: 550px;
    height: 600px;
    width: 100%;
    background: #ffffff;
    margin: auto;
    padding: 10px;
  }
  &__details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    img {
      width: 230px;
      height: 230px;
      object-fit: contain;
      margin: 0 10px 0 0;
    }
    > div {
      span {
        margin: 0 0 6px 0;
        display: inline-block;
        font-family: $font-bold;
      }
      p {
        margin: 0 0 10px 0;
      }
    }
  }
  &__description {
    margin: 10px 0 20px 0;
    p {
      overflow: hidden auto;
      height: 200px;
      line-height: 20px;
      letter-spacing: 0.5px;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical {
        width: 6px;
      }

      &::-webkit-scrollbar-button:increment,
      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar:horizontal {
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #a7a7a7;
        border-radius: 20px;
        border: 0;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: 45%;
      height: 40px;
      background: unset;
      padding: 0;
      margin: 0;
      border: 0;
      letter-spacing: 0.5px;
      &.btn.btn-add {
        background: #fa7462;
        color: #ffffff;
        transition: 0.3s ease all;
        &:hover {
          background: #f85540;
        }
      }
    }
  }
}
