@import "../utils/_variables.scss";

.search {
  width: 100%;
  max-width: 300px;
  height: 55%;
  margin: 0 1rem 0 0;
  &__form {
    background: $color-white;
    height: 100%;
  }
  &__input {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    input {
      border: 0;
      padding: 0 0 0 20px;
      margin: 0;
      width: 100%;
      height: 100%;
      font-size: 0.9rem;
      font-family: $font-regular;
      color: #333333;
      border-bottom: 1px solid #333333;
      &::placeholder {
        font-size: 0.8rem;
        font-family: $font-regular;
        color: #cccccc;
      }
    }
  }
  &__icon {
    position: absolute;
  }
}
